@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    /* background-image: url('./assets/album5.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 35%;
}